h1{
    color: rgb(255, 255, 255);
    background-color: rgb(77, 28, 169);
    
}
div{
    background-color: rgb(154, 107, 255);
    
}
button{
    background-color: rgb(105, 47, 214) ;
    color: aliceblue;
}